*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:hsl(240,6%,21%);
  --text-color:hsl(240,0%,100%);
  --primary-color:hsl(240,9%,89%);
  --controls-bg-color:hsl(194,97%,31%);
  --music-text-color:hsl(240,6%,21%);
  --music-second-color: hsl(240,0%,100%);
  font-size: clamp(40%, 1 + 2vw, 62.5%);
}

html.light{
  --bg-color:hsl(240,0%,100%);
  --text-color:hsl(240,6%,21%);
}

html.light .ph-sun,
html:not(.light) .ph-moon{
  display: none;
}

#toggle-mode{
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
}

.sr-only{
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body{
  background-color: var(--bg-color);
  color:var(--text-color);
  display: grid;
  height: 100vh;
  place-content: center;
}

#app{
  display: grid;
  justify-items: center;
}

.flex{
  display: flex;
}

#timer{
  font-size: 9.6rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 34.2rem;
  margin-top: 15rem;
}

#controls{
  margin-right: 34.2rem;
}

button {
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 3.8rem;
}

#music-controls{
  display: grid;
  position: relative;
  bottom: 17rem;
  left: 20rem;
  grid-template-columns: 8.8rem 8.8rem;
  grid-template-rows: 9.8rem 9.8rem;
  gap: 2.8rem;
}

#music-controls button {
  background-color: var(--primary-color);
  border: 0;
  color: var(--music-text-color);
  cursor: pointer;
  font-size: 3.6rem;
  padding: 2.1rem 2.8rem;
  border-radius: 2rem;
  justify-content: center;
}

#music-controls button:hover{
  background-color: var(--controls-bg-color);
  color: var(--music-second-color);
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle{
  display: none;
}